!!!
html
  head
    title Auth App: #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a#Home(href="/") Home
    br
    a#Home(href="/private") Private
    - if(everyauth.loggedIn)
      ul#Authed
        li
          Hi #{everyauth.twitter.user.name}!
        li
          img(src="#{everyauth.twitter.user.profile_image_url}")

        // li= JSON.stringify(everyauth.twitter.user)
        li
          a(href="/logout") Sign Out
    - else
      ul#Authenticate
        li
          a(href="/auth/twitter") auth with twitter
    != body
